{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>HI</title>
</head>
<body>
    <h1>Ласкаво просимо пані та панове</h1>
    <div  id="form">
        <form class="name-input" method="post">
            {% csrf_token %}
            {{form.name}}<br>
            <button class="btn-sbmt" type="submit">Привітатись</button><br>
           <div class="message">{% for message in messages %}
            {{ message }}
        {% endfor %}</div> 
        </form>
    </div><br>
    <div>

        <a href='/users'>Дивитися спісок усіх впривітавшихся</a>
    </div>
</body>
</html>